// Nextflow configuration for A_ruber BGC pipeline
params {
    assembly_accession = 'GCA_000600275.1'
    workdir = 'A_ruber_pipeline'
    threads = 8
    pks_queries = 'queries/pks_nrps_queries.faa'
    queries = 'queries/query.faa'
    core = 'core/core_proteins.faa'
    pfam_db = '/path/to/Pfam-A.hmm'
}

process {
    withName: run_antismash {
        cpus = 8
        memory = '16 GB'
    }
}

profiles {
    standard {
        conda = true
    }
}
